body{
    background-color: blue;
}
.container{
    background-color:lightblue;
    font-size: 1.2rem;
    text-align: center;
}


.row{
    background-color: white;
   
}

.caixa-titulo{
    border: solid 1px lightgray;
    font-size: 20px;
}
.caixa-conteudo{
    border: solid 1px lightgray;
    font-size: 20px;
    height: 300px;
}

.caixa-formulario{
    margin-top: 20px 20px;
    margin-bottom: 20px;
    text-align: left;
    
}

/* .form-control{
    width: 100px !important;
} */



/* 
.caixa-cinza{
    background-color: grey;
    border: solid black 2px;
}
.alinha-centro{
    text-align: center;
    justify-content: center;
} */




/* .col-12{
    background-color: green;
}

.col-6{
    background-color: violet;
}

.col-4{
    background-color: blue;
}

*/

.col-md-4{

}

